

.form_block {
    display: flex;
    min-height: 20vh;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
}

.input_text {
    height: 40px;
    width: 250px;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    color: white;
    padding: 0 10px;
    margin: 2px;
}

.but{
    width: 100px;
    height: 40px;
    background: none;
    color: white;
    border: none;
    border: 1px solid white;
    font-size: 13px;
    margin-left: 10px;
}

.but:hover {
    cursor: pointer;
}
div p {
    color: white
}