

.block_task {
    position: relative;
    background-color: white;
    color: black;
    margin: 5px;
    padding: 3px;
    height: 40px;
    border: 1px solid whitesmoke;
    font-size: 18px;

}

.but_delete{
    width: 20px;
    height: 20px;
    right: 10px;
    top: 8px;
    border: 0;
    padding: 0;
    text-justify: distribute;
    font-size: 18px;
    position: absolute;
    background-color: darkred;
}
.but_delete p {
    margin-top: -5px;
}
.data_span{
    display: block;
    position: absolute;
    font-size: 18px;
    top: 6px;
    font-weight: bold;
    right: 200px;
    color: gray;


}